/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
section {
  padding: 50px 100px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.banner {
  position: relative;
  min-height: 100vh;
  background: url('../img/banner3-01.png');
  background-size: cover;
  background-color:  #e9ffff;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #ff3e92;
  font-weight: 500;
  line-height: 1.5em;

}
.banner h2 span{
  font-size: 1.5em;
  font-weight: 700;
  color: #ffc700;
  text-shadow: 4px 1px #ff3e92;
}
.banner h3 {
  font-size: 1.5em;
  color: black;
  font-weight: 500;
  color: #ff3e92;

}
.btn {
  position: relative;
  background:#ff3e92;
  display: inline-block;
  color: #e9ffff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding:40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.sticky {
  background: #ff3e92;
  padding:20px 100px;
}

header.sticky .logo,
header.sticky ul li a
{
  color:#e9ffff;
}
.toggle i {
  display: none;
}
.close {
  display: none;
}
header .logo {
  color: #ff3e92;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #ff3e92;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
section.about {
  background: url('../img/pattern-01.png');
  background-size: cover;
  min-height: 100vh;
  background-color: #ff3e92;
}
section.changeBg {
  background: red;
}
section.about .heading h2{
  font-size: 150px;
  color: #ffc7008c;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #ffc700;
}
.heading h2 {
   font-weight: 600;
   font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.contentBx {
  color: #e9ffff;
  background: #ff3e9291;
  padding: 20px;
}
.contentBx h3 {
  color: #ffc7008c;
  font-size: 24px;
  margin-bottom: 10px;
}
.contentBx ul {
  margin-left: 19px;
}
.w50 {
  min-width: 50%;
}
.w50 img{
  max-width: 100%;
}
section.project {
  background: #171616;
  /* background: url('../img/pattern_pink-01.png'); */
}
section.project .heading.bluemarine a {
  color: #ff3e92;
}
.heading.bluemarine {
  color: #e9ffff;
}
.project .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

}
.project .content a .projectBx {
  padding: 40px 20px;
  margin: 41px;
  max-width: 330px;
  text-align: center;
  transition: 0.5s;
  /* background: #1d1d1d; */
  background: url('../img/pattern_pink-01.png');
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 360px;
}
.project .content .projectBx:hover {
  background: #1d1d1d;
}
.project .content .projectBx:hover img {
  display:block;
  width: 340px;
  padding: 20px;
  transition: 0.5s;
}
.project .content .projectBx img {
  display: none;
}
.project .content .projectBx:hover h3 {
  /* display:none; */
  background: url('../img/pattern_pink-01.png');

}
.project .content .projectBx h3 {
  color: #ff408e;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #171616;
  padding: 5px 10px;
}
section.airbnb {
  background: url('../img/pattern_blue-01.png');
  /* background: #e9ffff; */
}
section.airbnb .heading{
  color: #ff3e92;
}
section.airbnb .heading p{
  background: #e9ffffb8;
  padding: 5px;
}


/* Carousel */
.container {
  position: relative;
    /* display: flex; */
    margin: auto;
    width: 70%;
    /* height: 100vh; */
}
.slider-wrapper {
    position: relative;
    /* margin: auto; */
    width: 100%;
    /* height: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-wrapper .images {
  height: 70%;
  text-align: center;
  min-width: 300px;
}
.slider-wrapper .images img {
  display: none;
  width: 100%;
}
.slider-wrapper .images img.active {
  display: inline-block;
}
.prev, .next {
  color:  #ffc610;
  font-size: 40px;
  cursor: pointer;
}
.next {
  margin-left: 20px;
}
.prev {
  margin-right: 20px;
}
.nav {
  max-width: 50%;
  transform: translateX(50%);
  padding: 20px 0px;
  border-radius: 999px;
  background: rgb(255 62 146 / 62%);
  color: white;
}
.nav > i {
    margin: 0 10px;
}
.nav > i.active {
    color:  #ffc610;
}
/* Fine Carousel */
/* Contact */
section.contact {
  background: #111;
}
section.contact .content {
  justify-content: flex-start;
}
.contactInfo {
  min-width: 40%;
}
.contactInfo h3 {
  color: #ff3e92;
}
.contactInfoBx {
  position: relative;
}
.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #e9ffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}
.contactInfoBx .box .text {
  display: flex;
  margin-left: 2px;
  font-size: 16px;
  color: #e9ffff;
  flex-direction: column;
  font-weight: 300;
}
.contactInfoBx .box .text h3 {
  color: #ff3e92;
  font-weight: 500;
  margin-bottom: 0;
}
.contactSocial {
  color: #ff3e92;

  padding-left: 20px;
}
.social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}
.social .socialBx:hover {

  background: #e9ffff;
}
.social .socialBx:hover i{
  color: #ff3e92;

}
.social .socialBx {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  background: #ff3e92;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialBx a {
  text-decoration: none;
}
.socialBx i {
  font-size: 30px;
  color: #e9ffff;
}
/* FOOTER */
footer  {
  background: url('../img/pattern-01.png');
  background-size: cover;
  background-color: #ff3e92;
}
footer h2 {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

/* Media query */
@media (max-width:747px) {
  header,
  header.sticky {
    padding: 20px 20px;
    z-index: 999;
  }

  .nav {
    display:none;
  }
  section.banner {
    padding: 20px 20px;
    transition: 5s;
  }
  .banner {
    align-items: flex-end;
  }
  .textBx h2 {
    font-size: 1.5em;
  }
  .project .content a .projectBx {
    margin-bottom: 41px;
    margin:0;
  }
  .next {
    margin-left: 0;
  }
  .prev {
    margin-right: 0;
  }
  .slider-wrapper .images img {
    padding: 20px;
  }

  section.contact .content {
    flex-direction: column;
  }
  section.contact .content .contactInfo {
    margin-bottom: 20px;
  }

}
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 999;
  }
  .menu {
    position: fixed;
    top:75px;
    left:-100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #ff3e92;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid #e9ffff;
  }
  .menu.active {
    left:0;
  }
  header ul li a {
    color: #e9ffff;
    font-size: 24px;
    margin: 10px;
  }
  header.sticky .toggle .burger {
    color: #e9ffff;
    display: block;
    font-size: 24px;
  }
  header .toggle .burger{
    display: block;
    font-size: 24px;
    color: #ff3e92;
  }
  /* header.sticky .toggle .close{
    color: #e9ffff;
    display: block;
    font-size: 24px;
  } */
  header.sticky .toggle.active .burger,
  header .toggle.active .burger
  {
    display: none;
  }
  header.sticky .toggle.active .close {

    color: #e9ffff;
  }
  header .toggle.active .close
  {
    display: block;
    color: #ff3e92;
    display: block;
    font-size: 24px;
  }
  header.sticky .toggle.active .burger {
    color: #e9ffff;
  }
  .nav > i {
    margin: 0 1px;
  }
  section {
    padding: 50px 50px;
  }
  section.about .content {
    flex-direction: column-reverse;
  }
  section.about .heading h2{
    font-size: 60px;
    color: #ffc7008c;
  }
  .contactSocial .social {
    flex-direction: column;
  }
  .contactSocial .social .socialBx {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px)and (max-width: 1107px)  {
  .nav > i {
    margin: 0 7px;
  }
  /* section.about .content {
    flex-direction: column-reverse;
  } */
}
